
.display {
    position: relative;

    background-color: rgba(245, 245, 245, 0.658);
    /* border-color: rgba(146, 12, 12, 0.877); */

    height: 140px;

 width:700px;
 }

 .img {

     height: 40px;
     width: 40px;
     margin-top: 10px;
     margin-left: 10px;
     /* padding-left:5px ; */
     /* padding-top: 2px; */
     border-radius: 30px;

 }

 .imgComment {

     height: 40px;
     width: 40px;
     margin-top: 30px;
     margin-left: 10px;
     /* padding-left:5px ; */
     /* padding-top: 2px; */
     border-radius: 30px;

 }

 .likeIcon:active {
     transform: translateY(4px);
 }

 .names {
     text-align: left;
     margin-top: 8px;
     padding-left: 15px;
 }

 .author {
     display: flex;
     flex-direction: row;
 }

 .created {
     padding-left: 15px;
     margin-top: -17px;
}

.text {
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
}

.innerText {
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}

.main {
    display: inline-block;

}

.main1 {
    margin-top: 4px;
    border: 3px solid black
}

p {
    margin: 0;
    padding-left: 0px;
}

.bound {
    display: flex;
    flex-direction: row;

}

.created1 {
    padding-left: 90px;
    margin-top: -12px;
    font-size: 10px;
}

.commentContainer {
  /* margin-top: 5px; */
  background-color:rgba(245, 245, 245, 0.658);
  border-color: seashell;
  height: 150px;
  width:700px;
  margin-top: 2px;

  }

  .comment {

      background-color: rgba(68, 162, 179, 0.979);
      border-color: seashell;
      height: 70px;
      width: 500px;
      border-radius: 10px;
      margin-top: 25px;
      text-align: left;
      padding-left: 5px;
  }

  #Commentname {
      font-weight: bold;
      font-size: 12px;
      padding-top: 10px;
  }

  .triangle-left {
      margin-top: 40px;
      margin-left: 10px;
      z-index: 2px;
      width: 2px;
      height: 2px;
      border-top: 5px solid transparent;
      border-right: 30px solid rgba(68, 162, 179, 0.979);
      border-bottom: 10px solid transparent;
  }

  .likesDiv {
background-color:rgba(245, 245, 245, 0.658);
border-color: seashell;
height: 40px;
width: 690px;
margin-top: 2px;
padding-left: 10px;
}

.likeIcon {
    padding-top: 2px;
    height: 30px;
    width: 50px;
}

#likesCategory {
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 500px;
}

.commentText {
    padding-top: 0px;
    color: blanchedalmond
}
